table {
  max-width: none;
}

table tbody td {
  min-width: 100px !important;
}

.dataTable {
  font-size: 12px;
}

.dataTables_filter {
  background: -moz-linear-gradient(right, rgba(250, 250, 251,0), rgba(250, 250, 251,1));
  background: -o-linear-gradient(right, rgba(250, 250, 251,0), rgba(250, 250, 251,1));
  background: -webkit-linear-gradient(left, rgba(250, 250, 251,0), rgba(250, 250, 251,1));
  background: linear-gradient(to right, rgba(250, 250, 251,0), rgba(250, 250, 251,1));
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.15);
  margin-bottom: -6px;
  padding: 10px;
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #d8d8d8;
  margin-bottom: 5px;
  margin-left: 0.5em;
  padding: 5px;
}

.form-control, label {
  margin-bottom: 0 !important;
}
