.dataTables_filter {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 9999999;
  background-color: #fafafb;
  box-shadow: 0 1px 0 rgba(12,13,14,0.15);
  border-top: 3px solid #2980B9;
}

table {
  max-width: none;
}


table.dataTable {
  font-size: 12px;
  margin-top: 52px !important;
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #d8d8d8;
  margin-bottom: 5px;
  margin-left: 0.5em;
  padding: 5px;
}

.dataTables_wrapper {
  overflow: scroll;
}

.form-control {
  margin-bottom: 0 !important;
}

label {
    margin-bottom: 0 !important;
}
