.dataTables_filter {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 9999999;
  background-color: #fff;
  border-bottom: 1px solid #f8f8f8;
}

table.dataTable {
  font-size: 12px;
  margin-top: 55px !important;
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #d8d8d8;
  margin-bottom: 5px;
  margin-left: 0.5em;
  padding: 5px;
}

.dataTables_wrapper {
  overflow: scroll;
}
